$gray: #979797
$dark-gray: #333
$light-gray: #aaa
$light: #f5f5f5
$beige: #efeee5

$blue: #00adee
$green: #9c3
$red: #e55

$primary: $blue
$secondary: $green

$border-color: rgba(0,0,0,.12)

.text-primary
	color: $primary
.text-secondary
	color: $secondary