.title-xs
	color: $dark-gray
	font-size: 16px

.title-sm
	color: $primary
	font-size: 21px

.title-md
	color: $primary
	margin: 24px 0

.title-lg
	color: $primary
	font-size: 28px
	margin: 0
	padding: 48px 0	
	text-align: center

.list-disc
	list-style-type: disc
	padding-left: 18px

.list-square
	list-style-type: square
	padding-left: 18px